@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Potta+One&display=swap');

body{
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

body img{
margin-top: 25px;
}

h1{
  font-size: 60px;
}

#fcs{
  color: orange;
}

section{
  display: flex;
  margin-bottom: 80px;
}

.half-width{
  width: 50%;
  padding-left: 5%;
}

.half-width img{
  width: 80%;
}

.hiremebutton{
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: white  ;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

.half-width2{
  width: 50%;
  padding-left: 5%;
  padding-left: 5%;
}
.creative-dev{
background-image: url("images/dream-bg.png");
background-repeat: no-repeat;
background-position: right 100%;
}

#exph{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.exp{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.exp h3{
    color: orange;
}

.exp div{
    border-radius: 10px;
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#frontend-web{
    margin-top: 15px;
    margin-left: 3%;
    margin-right: 3%;
    border-left: 7px solid tomato;

}
#full-stack{
    margin-left: 3%;
    margin-right: 3%;
    border-left: 7px solid  rgb(49, 172, 161);
 
}
footer p{
    text-align: center;
}
